/* App 컴포넌트와 UserCheck 컴포넌트에서 적용될 스타일 */

* {
    background-color: rgb(255, 255, 188); /* 베경색 설정 */
}

#app-wrapper {
    margin: 1rem; /* 바깥쪽 여백 설정 */
}

.member-input {
    margin: 3px; /* 바깥쪽 여백 설정 */
    padding: 0.5rem; /* 안쪽 여백 설정 */
    border-radius: .25rem; /* 둥근 테두리 설정 */
    font-size: 1.25rem; /* 글씨 크기 설정 */
    border: 1px solid blue; /* 테두리 설정 */
}

.member-btn {
    margin: 3px; /* 바깥쪽 여백 설정 */
    padding: 0.4rem; /* 안쪽 여백 설정 */
    border-radius: .3rem; /* 둥근 테두리 설정 */
    width: 5rem; /* 너비 설정 */
    background-color: darkblue; /* 배경색 설정 */
    color: white; /* 글씨색 설정 */
    font-size: 1rem; /* 글씨 크기 설정 */

}

.member-li {
    margin: 3px; /* 바깥쪽 여백 설정 */
    color: blue; /* 글씨색 설정 */
    font-size: 1.2rem; /* 글씨 크기 설정 */
}