article#board {
    padding: 10px 10px 5px 10px;
}

article#board p {
    font-size: 20px;
    margin: 0px 0px 5px 0px;
}

article#board hr {
    width: 100%;
    margin: 0px;
    color: gray;
}

article#post_title {
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article#post_title a {
    font-size: 13px;
    color: rgb(50, 50, 50);
}

section#search button {
    color: white;
    background-color: black;
    border: 1px solid darkgray;
    border-radius: 5px;
}

article#post {
    padding: 5px 10px 10px 10px;
}

table#posts {
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    border-collapse: collapse;
}

table#posts th {
    padding: 7px;
    border-top: 3px solid rgb(162, 162, 162);
    background-color: rgb(211, 211, 211);
}

table#posts td {
    padding: 7px;
}

tr.tr_posts {
    border-bottom: 1px solid rgb(162, 162, 162);
}

td.post_num {
    color: rgb(50, 50, 50);
}

td.post_title {
    text-align: left;
}

section#prenext_btn {
    text-align: center;
    font-size: 14px;
}

section#prenext_btn a {
    color: rgb(50, 50, 50);
    padding: 5px 5px 0px 5px;
}

section#post_btn {
    text-align: right;
}

button#list {
    color: white;
    border-radius: 5px;
    background-color: rgb(109, 109, 109);
}

button#create {
    color: white;
    border-radius: 5px;
    background-color: black;
}