header, main, footer {
    display: block;
    width: 100%;
}

header#header {
    display: flex;
    align-items: center;
}

section#site_logo {
    float: left;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section#menu {
    float: right;
    width: 80%;
}
nav#sidemenu {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 5px 10px 10px 0px;
}
nav#sidemenu a {
    margin: 0px 10px 0px 10px;
}
nav#mainmenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 10px 50px 10px 50px;
}

header#header::after {
    content:"";
    clear: both;
    display: block;
}

aside#sidebar {
    float: left;
    width: 20%;
    display: flex;
    flex-direction: column;
}

section#main_setion {
    display: flex;
    float: right;
    width: 80%
}

article#banner {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

article#board {
    display: flex;
    flex-direction: column;
}

article#post_title {
    display: flex;
    flex-direction: row;
}

article#post {
    display: flex;
    flex-direction: column;
}

main#main_container::after {
    content:"";
    clear: both;
    display: block;
}

a {
    text-decoration-line: none;
}