section#login {
    margin: 10px;
    padding: 10px;
    border: 1px solid darkgray;
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
}

section#login a {
    margin: 5px;
}

table#login_table {
    width: 100%;
}

td#login_title {
    padding-bottom: 10px;
}

a#amember {
    font-size: 16px;
    color: forestgreen;
}

a#alogin {
    font-size: 18px;
}

td.input_txt {
    width: 65%;
    padding-right: 10px;
}

td.input_txt input {
    width: 100%;
    height: 100%;
}

td#btntd {
    height: 100%;
    text-align: center;
}

button#lgnbtn {
    width: 100%;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    color: white;
    border: 1px solid darkgreen;
    border-radius: 10px;
    background-color: forestgreen;
}

td#login_help {
    padding-top: 10px;
    font-size: 11px;
}

a#signin {
    color: rgb(50, 50, 50);
}

a#find {
    color: rgb(100, 100, 100);
}