header {
    margin: 10px;
}
h1 {
    text-align: center;
    color: rgb(184, 6, 6);
}
section {
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: pink;
}
.questions {
    color: rgb(1, 1, 193);
    font-weight: bold;
}
.answers {
    font-size: 120%;
    font-family: 'Nanum Pen Script', cursive;
}
input {
    accent-color: rgb(98, 98, 98);
}
#txtbox {
    text-align: left;
    width: 400px;
    height: 150px;
}
footer {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: rgb(255, 157, 0);
    font-size: 120%;
    font-family: 'Nanum Pen Script', cursive;
}